<div class="drawer-side">

    <label for="side-drawer" class="drawer-overlay"></label>
    <ul id="ul_menu" class="w-64 h-screen menu bg-base-200 rounded-box">

        <div class="flex justify-end p-4">
            <div class="avatar online">
                <div class="w-10 rounded-full">
                    <img src="/static/image/system.png" />
                </div>
            </div>
        </div>

        <li>
            <a class="" href="/home">
                <i class="fa-solid fa-house"></i>
                หน้าหลัก(Home)
                <!-- <span class="badge badge-sm">99+</span> -->
            </a>
        </li>

        <li>
            <a class="" href="/qpks">
                <i class="fa-brands fa-quinscape"></i>
                QPKS (ระบบจัดการคิว)
                <!-- <span class="badge badge-sm">99+</span> -->
            </a>
        </li>

    </ul>
</div>