<!DOCTYPE html>
<html>

<head>
    {% include '_meta.html' %}
</head>

<body class="flex flex-col">

    <div class="drawer lg:drawer-open ">
        <input id="side-drawer" type="checkbox" class="drawer-toggle" />
        <div class="relative flex flex-col px-2 drawer-content">
            {% include '_nav_bar.html' %}
            <!-- Page content here -->
            <div class="">
                <div class="h-80 hero" style="background-image: url(/static/image/background.jpg);">
                    <div class="hero-overlay bg-opacity-60"></div>
                    <div class="text-center hero-content text-neutral-content">
                        <div class="max-w-md">
                            <div class="avatar">
                                <div class="w-24 rounded-full ring ring-accent ring-offset-base-100 ring-offset-2">
                                    <img src="/static/image/system.png" />
                                </div>
                            </div>
                            <h1 class="mb-5 text-3xl font-bold">PKSOFTTECH.ORG</h1>
                            <p class="mb-5">ซอฟต์แวร์เฮาส์ (Software House)</p>
                            <p class="mb-5">รับสร้างโปรแกรมเฉพาะงานตามความต้องการของคุณ</p>
                            <div class="text-blue-600 loading loading-infinity loading-lg"></div>
                        </div>
                    </div>
                </div>
                <div class=" hero bg-base-200">
                    <div class="flex-col hero-content lg:flex-row">
                        <div>
                            <p class="py-6">ซอฟต์แวร์เฮาส์ (Software House) เป็นบริษัทหรือองค์กรที่เชี่ยวชาญในการพัฒนาซอฟต์แวร์และบริการเทคโนโลยีสารสนเทศ
                                ซอฟต์แวร์เฮาส์ทำงานกับลูกค้าเพื่อสร้างและจัดส่งซอฟต์แวร์ที่ตรงตามความต้องการของลูกค้า
                                ซอฟต์แวร์เฮาส์มักจะมีทีมนักพัฒนาซอฟต์แวร์ที่มีความเชี่ยวชาญในการเขียนโปรแกรมและออกแบบซอฟต์แวร์
                                และสามารถให้คำแนะนำและบริการที่เกี่ยวข้องกับซอฟต์แวร์ต่าง ๆ รวมถึงการบริการด้านออกแบบและอิเล็กทรอนิกส์อื่น ๆ
                            </p>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-2 gap-4 ">
                    <div class="w-full p-2 border mockup-window bg-base-300">
                        <img class="w-full rounded-lg" src="/static/image/demo/relay100ch.png" />
                        <p class="">PCB Design</p>
                    </div>
                    <div class="w-full p-2 border mockup-window bg-base-300">
                        <img class="w-full rounded-lg" src="/static/image/demo/screen_dev001.png" />
                        <p class="">Developer Program</p>
                    </div>
                    <div class="p-2 border mockup-browser bg-base-300">
                        <div class="mockup-browser-toolbar">
                            <div class="input">https://pksofttech.org</div>
                        </div>
                        <img class="w-full rounded-lg" src="/static/image/demo/web_app_demo.png" />
                        <p class="">Web Application</p>
                    </div>
                    <div class="w-full p-2 border mockup-window bg-base-300">
                        <img class="w-full rounded-lg" class="rounded-lg" src="/static/image/demo/laduino_app.png" />
                        <p class="">Control Program</p>
                    </div>

                    <div class="w-full p-2 border mockup-window bg-base-300">
                        <div class="flex justify-center bg-base-200">
                            <video class="w-full rounded-lg" controls="controls" poster="/static/image/demo/relay100ch.png" preload="true">
                                <source src="/static/video/pcb_test.mp4" type="video/mp4" />
                                Your browser does not support the video tag.
                            </video>

                        </div>

                    </div>

                    <div class="border mockup-browser bg-base-300">
                        <div class="mockup-browser-toolbar">
                            <div class="input">https://daisyui.com</div>
                        </div>
                        <div class="flex justify-center px-4 py-16 bg-base-200"><span class="loading loading-dots loading-lg"></span></div>
                    </div>

                    <div class="mockup-phone">
                        <div class="camera"></div>
                        <div class="display">
                            <div class="artboard artboard-demo phone-1">
                                <div class="w-full rounded">
                                    <img src="/static/image/demo/qpks.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        {% include '_side_menu_bar.html' %}
    </div>

    {% include '_footer.html' %}
</body>
{% include '_script.html' %}

<script>
    function show_info(msg) {
        Swal.fire({
            toast: true,
            position: 'top-end',
            icon: "success",
            title: "Successful",
            html: msg,
            timer: 1000,
            showConfirmButton: false,
        });
    }
    async function req_service_transaction(service_id) {

        const formData = new FormData();
        formData.append("machine", "test");
        formData.append("service_id", service_id);
        const _reply = await fetchApi("/api/transaction/", "post", formData, "json");

        if (!!_reply) {
            if (_reply.success == true) {
                const transaction = _reply.data
                show_info(transaction[1].group + transaction[0].number);
            } else {
                toastMixin.fire({
                    title: JSON.stringify(_reply),
                    icon: "error",
                });
            }

        }
    }
</script>

</html>